footer.contac-us{
    background-color: #343434;
    padding: 15px;

    .text-footer{
        justify-content: space-between;
        color: #fff;
    }

    p{
        margin: 0px;
    }

    .copyriht{
        color: #979797;
        margin: 7px 0px 0px 0px;
    }

    .facebook{
        margin-right: 15px;
        font-size: 25px;
        color: #fff;
    }

    .twitter{
        margin-right: 15px;
        font-size: 25px;
        color: #fff;
    }

    .linkedin{
        margin-right: 15px;
        font-size: 25px;
        color: #fff;
    }

    .youtube{
        font-size: 25px;
        color: #fff;
    }
}