<header>
    <div class="container d-flex icons">
        <div class="d-flex">
            <div class="border-box">
                <a href="/"><img src="../../assets/images/motus-logo.png" alt="#" class="logo-motus"></a>
                <div class="title-text-down">
                    DEVICE
                </div>
            </div>
            <div>
                <div class="dropdown-wawandco pt-2">
                    <button class="btn btn-wawandco dropdown-toggle d-flex" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Wawandco <span class="label ms-2 pro pt-1">PRO</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <a href="#" class="pt-3 link-return">Return to Vehicle</a>
            <button class="setings btn"></button>
            <button class="cuestion btn"></button>
            <div class="second-border-box btn"></div>
            <div class="dropdown-user">
                <button class="btn btn-wawandco dropdown-toggle-user d-flex" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user ms-2"></div>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>