<section class="edit-line">
    <div class="container d-flex lines-menu">
        <div>
            <button class="btn mt-4 ps-2 pe-2">Home</button>
            <button class="btn mt-4 ps-2 pe-2">Programs</button>
            <button class="btn mt-4 ps-2 pe-2">Orders</button>
            <button class="btn mt-4 ps-2 pe-2">Reimbursements</button>
            <button class="btn mt-4 ps-2 pe-2">Users</button>
            <button class="btn mt-4 me-1">Settings</button>
            <button class="btn mt-4 inventory">Inventory</button>
            <button class="btn mt-4 ps-2 pe-2">Help Center</button>
        </div>
        <div class="d-flex">
            <div class="mt-4 mb-4 me-3">
                <a href="/" class="back btn">Cancel</a>
            </div>
            <div>
                <button class="btn d-flex mt-4 mb-4 save" form="save">Save Changes</button>
            </div>
        </div>
    </div>
</section>

<section class="edit-info-line">
    <div class="container info-private">
        <p class="text">DEVICE <i class="fa-solid fa-angle-right"></i> WAWANDCO <i class="fa-solid fa-angle-right"></i> <span>INVENTORY</span> <i class="fa-solid fa-angle-right"></i> <span class="text-color">ADD LINE</span></p>
        <h5 class="mb-4">Add Phone Line</h5>
        <div class="d-flex">
          <p class="mb-0 title-info">Device Details</p>
          <hr>
        </div>
        <p class="mb-2 mt-2 add-info-text">Carrier<span class="obligatory">*</span></p>
        <%= form({id:"save", action: editLineUserIDPath({user_id: lines.ID}) ,method: "PUT"}) { %>
            <%= f.SelectTag({ options: {"Sprint" : "Sprint" , "AT&T" : "AT&T", "T-Mobile" : "T-Mobile", "U.S.cellular" : "U.S.cellular", "Verizon" : "Verizon"}, value: lines.Carrier , name:"carrier", class:"form-select"}) %>
            <%= if (errors-carrier) { %>
                <div class="msj-error-carrier"><%= errors-carrier %></div>
            <% } %>
            <p class="mb-2 mt-2 add-info-text">Phone Number<span class="obligatory">*</span></p>
            <%= f.InputTag({type:"text", placeholder:"000-000-0000", class:"number-add", name:"phone_line", value: lines.PhoneLine}) %>
            <%= if (errors-phone) { %>
                <div class="msj-error"><%= errors-phone %></div>
            <% } %>
            <p class="mb-2 mt-2 add-info-text">ICCID</p>
            <%= f.InputTag({type:"number", name:"iccid", value: lines.IICD}) %>
            <p class="mb-2 mt-2 add-info-text">Contract End Date<span class="obligatory">*</span></p>
            <div class="d-flex">
                <%= if (lines.EndContractDate != "Out of Contract") { %>
                    <div class="form-check me-3 select-date">
                        <%= f.InputTag({name:"end_contract_date", class:"form-check-input radios-b", type:"radio", id:"gridRadios1", value: "Select Date", checked:"checked" }) %>
                        <label class="form-check-label text-r" for="gridRadios1">
                            Select Date
                        </label>
                    </div>
                <% } else { %>
                    <div class="form-check me-3 select-date">
                        <%= f.InputTag({name:"end_contract_date", class:"form-check-input radios-b", type:"radio", id:"gridRadios1", value: "Select Date" }) %>
                        <label class="form-check-label text-r" for="gridRadios1">
                            Select Date
                        </label>             
                    </div>
                <% } %>
                <%= if (lines.EndContractDate == "Out of Contract") { %>
                    <div class="form-check select-date-contract">
                        <%= f.InputTag({name:"end_contract_date", class:"form-check-input radios-b", type:"radio", id:"gridRadios2", value: "Out of Contract", checked:"checked" }) %>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Out of Contract
                        </label>
                    </div>
                <% } else { %>
                    <div class="form-check select-date-contract">
                        <%= f.InputTag({name:"end_contract_date", class:"form-check-input radios-b", type:"radio", id:"gridRadios2", value: "Out of Contract" }) %>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Out of Contract
                        </label>
                    </div>
                <% } %>
            </div>
            <%= if (errors-end_contract_date) { %>
                <div class="msj-error"><%= errors-end_contract_date %></div>
            <% } %>
            <p class="mb-2 mt-2 add-info-text">Date</p>
            <%= f.InputTag({type:"date", name:"upgrade_eligibility", value: lines.UpgradeEligibility})%>
        <% } %>
    </div>
</section>