<section class="add-line">
  <div class="container d-flex lines-menu">
    <div>
      <button class="btn mt-4 ps-2 pe-2">Home</button>
      <button class="btn mt-4 ps-2 pe-2">Programs</button>
      <button class="btn mt-4 ps-2 pe-2">Orders</button>
      <button class="btn mt-4 ps-2 pe-2">Reimbursements</button>
      <button class="btn mt-4 ps-2 pe-2">Users</button>
      <button class="btn mt-4 me-1 settings">Settings</button>
      <button class="btn mt-4 inventory"><strong>Inventory</strong></button>
      <button class="btn mt-4 ps-2 pe-2">Help Center</button>
    </div>
    <div>
      <div class="dropdown-wawandco">
        <button class="btn btn-add dropdown-toggle d-flex mt-4 mb-4" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
          Add Resourse
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="line">
  <div class="container">
    <p class="text">DEVICE <i class="fa-solid fa-angle-right"></i> WAWANDCO <i class="fa-solid fa-angle-right"></i> <span class="text-color">INVENTORY</span></p>
    <h5>Inventory</h5>
    <div class="d-flex">
      <div class="devices">
        <a href="/" class="link_devices">DEVICES</a>
      </div>
      <div class="lines">
        <a href="/" class="link_lines"><strong>LINES</strong></a>
      </div>
      <div class="border-bottom"></div>
    </div>
    <div class="d-flex search_and_lines">
      <p class="number_lines">50 <span class="color-text-lines">Line</span></p>
      <div class="search_filter">
        <i class="fa-solid fa-magnifying-glass "></i>
        <input type="text" placeholder="Search (e.g. by User, carrier)" class="input_search rounded-pill">
        <button class="btn filters">Filters</button>
      </div>
    </div>
    <div class="border-table">
      <table class="table">
        <thead>
          <tr>
            <td scope="col">Phone Line <span class="icons-table"></span> </td>
            <td scope="col">Carrier <span class="icons-table"></span> </td>
            <td scope="col">Associated To <span class="icons-table"></span> </td>
            <td scope="col">Associated To Device <span class="icons-table"> </span></td>
            <td scope="col" class="date">End Contract Date <span class="icons-table-date"></span> </td>
            <td scope="col" class="upgrade">Upgrade Eligibility <span class="icons-table-upgrade"></span> </td>
            <td scope="col">Line Status <span class="icons-table"></span> </td>
            <td scope="col"></td>
          </tr>
        </thead>
        <tbody>
          <%= for (Lines) in lines { %>
            <tr>
              <td class="color_phone_line"><%= Lines.PhoneLine %></td>
              <td><%= Lines.Carrier %></td>
              <td><%= Lines.AssociatedTo %></td>
              <td><%= Lines.AssociatedToDevice %></td>
              <td class="ps-0"><%= Lines.EndContractDate %></td>
              <td><%= Lines.UpgradeEligibility %></td>
              <td>
                <%= if (Lines.ID.String() == "6c3ac132-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label active">ACTIVE</span>
                <% } %>
                <%= if (Lines.ID.String() == "6c3ac4a2-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label suspended">SUSPENDED</span>
                <% } %>
                <%= if (Lines.ID.String() == "6c3ac5ba-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label deactivated">DEACTIVATED</span>
                <% } %>
                <%= if (Lines.ID.String() == "6c3ac6be-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label forwarding">FORWARDING CALL</span>
                <% } %>
                <%= if (Lines.ID.String() == "7fff7abe-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label pending_call">PENDING CALL FWD.</span>
                <% } %>
                <%= if (Lines.ID.String() == "6c3ac27c-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label pending_susp">PENDING SUSP.</span>
                <% } %>
                <%= if (Lines.ID.String() == "6c3ac394-02c4-11ed-b939-0242ac120002") { %>
                  <span class="label pending_deact">PENDING DEACT.</span>
                <% } %>
              </td>
              <td class="button-more">
                <div class="btn-group">
                  <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">View Details</a></li>
                    <li><a class="dropdown-item" href="/">Associate Line</a></li>
                    <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                    <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                    <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                    <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                    <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% } %>
          <!-- <tr>
            <td class="color_phone_line">995-438-3430</td>
            <td>T-Mobile</td>
            <td>Free</td>
            <td>Free</td>
            <td class="ps-0">13/Oct/2020</td>
            <td>08/14/2020</td>
            <td><span class="label suspended">SUSPENDED</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="color_phone_line">761-116-3397</td>
            <td>Verizon</td>
            <td>Free</td>
            <td>Free</td>
            <td class="ps-0">27/Feb/2020</td>
            <td>11/06/2020</td>
            <td><span class="label deactivated">DEACTIVATED</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="color_phone_line">233-568-7221</td>
            <td>AT&T</td>
            <td>Free</td>
            <td>Free</td>
            <td class="ps-0">16 Sep 2020</td>
            <td>08/21/2020</td>
            <td><span class="label forwarding">FORWARDING CALL</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="color_phone_line">947-675-4413</td>
            <td>T-Mobile</td>
            <td>Free</td>
            <td>Free</td>
            <td class="ps-0">10 Dec 2020</td>
            <td>07/05/2020</td>
            <td><span class="label pending_call">PENDING CALL FWD.</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="color_phone_line">322-883-6335</td>
            <td>Sprint</td>
            <td class="person">Lucinda Sanchez</td>
            <td>Free</td>
            <td class="ps-0">12 Jun 2020</td>
            <td>05/15/2020</td>
            <td><span class="label pending_susp">PENDING SUSP.</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr >
            <td class="color_phone_line">001-802-4445</td>
            <td>AT&T</td>
            <td class="person">George Valdez</td>
            <td>Google Pixel 2</td>
            <td class="ps-0">11 Jul 2020</td>
            <td>07/16/2020</td>
            <td><span class="label pending_deact">PENDING DEACT.</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="color_phone_line">752-759-3547</td>
            <td>T-Mobile</td>
            <td class="person">Roxie Rodgers</td>
            <td>Galaxy A01</td>
            <td class="ps-0">17 Jun 2020</td>
            <td>04/15/2020</td>
            <td><span class="label pemnding_activation">PENDING ACTIVATION</span></td>
            <td class="button-more">
              <div class="btn-group">
                <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">View Details</a></li>
                  <li><a class="dropdown-item" href="/">Associate Line</a></li>
                  <li><a class="dropdown-item" href="/">Change Contract End Date</a></li>
                  <li><a class="dropdown-item" href="/">Reset Timer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to Line in System</a></li>
                  <li><a class="dropdown-item" href="/">Forward Calls to External Line</a></li>
                  <li><a class="dropdown-item" href="/">Deactive Line</a></li>
                  <li><a class="dropdown-item" href="/">Suspend Line</a></li>
                </ul>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="d-flex number-pages">
      <div class="mt-2">
        <span class="pages">Displaying 1 - 25 of 50 <span class="split"> |</span> <span class="number-diferent">25</span> 50 <span class="intermediate-number">100</span> result per page </span>
      </div>
      <div class="mt-2">
        <span class="prev"> <span> < </span> Prev <span class="number-diferent-right">1</span> <span class="number-black"> 2 </span> <span class="black-test"> Next </span> <span class="icon-black"> > </span></span>
      </div>
    </div>
  </div>
</section>