footer.contac-us{
    background-color: #343434;
    padding: 15px;
    position: absolute;
    width: 100%;

    .text-footer{
        justify-content: space-between;
        color: #fff;
        margin-bottom: 20px;
    }

    p{
        margin: 0px;
    }

    .copyriht{
        color: #979797;
        margin-top: 7px;
        font-size: 14px;
    }

    .facebook{
        margin-right: 20px;
        font-size: 25px;
        color: #fff;
    }

    .facebook:hover{
        color: #1871e6;
    }

    .twitter{
        margin-right: 20px;
        font-size: 25px;
        color: #fff;
    }

    .twitter:hover{
        color: #0ca2e0;
    }

    .linkedin{
        margin-right: 20px;
        font-size: 25px;
        color: #fff;
    }

    .linkedin:hover{
        color: #2463a9;
    }

    .youtube{
        margin-right: 25px;
        font-size: 25px;
        color: #fff;
    }

    .youtube:hover{
        color: rgb(255, 0, 0);
    }

    .links-contac-us{
        text-decoration: none;
        color: #fff;
    }

    
}