<footer class="contac-us">
    <div class="container ps-4">
        <div class="d-flex text-footer">
            <div>
                <p> <a href="/" class="links-contac-us">Contact Us</a>  | <a href="/" class="links-contac-us">Research Participarion</a>  | <a href="/" class="links-contac-us">Corporate Website</a>  | <a href="/" class="links-contac-us">privacity Notice</a>  | <a href="/" class="links-contac-us">Terms of Use</a> </p>
            </div>
            <div class="d-flex icons">
                <a href="/"><i class="fa-brands fa-facebook-f facebook"></i></a>
                <a href="/"><i class="fa-brands fa-twitter twitter"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin-in linkedin"></i></a>
                <a href="/"><i class="fa-brands fa-youtube youtube"></i></a>
            </div>
        </div>
        <p class="copyriht">©Copyright 2018 Motus, LLC. All rights reserved</p>
    </div>
</footer>