<header>
    <div class="container d-flex icons">
        <div class="d-flex">
            <div class="border-box">
                <a href="/"><img src="../../assets/images/motus-logo.png" alt="#" class="logo-motus"></a>
                <div class="title-text-down">
                    DEVICE
                </div>
            </div>
            <div>
                <div class="dropdown-wawandco pt-2">
                    <button class="btn btn-wawandco dropdown-toggle d-flex" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Wawandco <span class="label ms-2 pro pt-1">PRO</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <a href="#" class="pt-3 link-return">Return to Vehicle</a>
            <button class="setings btn"></button>
            <button class="cuestion btn"></button>
            <div class="second-border-box btn"></div>
            <div class="dropdown-user">
                <button class="btn btn-wawandco dropdown-toggle-user d-flex" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user ms-2"></div>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="add-resourse">
    <div class="container d-flex resoruse">
        <div>
            <button class="btn mt-4 ps-2 pe-2">Home</button>
            <button class="btn mt-4 ps-2 pe-2">Programs</button>
            <button class="btn mt-4 ps-2 pe-2">Orders</button>
            <button class="btn mt-4 ps-2 pe-2">Reimbursements</button>
            <button class="btn mt-4 ps-2 pe-2">Users</button>
            <button class="btn mt-4 me-1 settings">Settings</button>
            <button class="btn mt-4 inventory"><strong>Inventory</strong></button>
            <button class="btn mt-4 ps-2 pe-2">Help Center</button>
        </div>
        <div>
            <div class="dropdown-wawandco">
                <button class="btn btn-add dropdown-toggle d-flex mt-4 mb-4" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Resourse
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="list">
    <div class="container">
        <p class="text">DEVICE <i class="fa-solid fa-angle-right"></i> WAWANDCO <i class="fa-solid fa-angle-right"></i> <span class="text-color">INVENTORY</span></p>
        <h5>Inventroy</h5>
        <div class="d-flex">
            <div class="devices">
                <a href="/" class="link_devices">DEVICES</a>
            </div>
            <div class="lines">
                <a href="/" class="link_lines">LINES</a>
            </div>
            <div class="border-bottom"></div>
        </div>
        <div class="d-flex search_and_lines">
            <p class="number_lines">50 <span class="color-text-lines">Line</span></p>
            <div class="search_filter">
                <i class="fa-solid fa-magnifying-glass "></i>
                <input type="text" placeholder="Search (e.g. by User, carrier)" class="input_search">
                <button class="btn filters">Filters</button>
            </div>
        </div>
        <div class="border-table">
            <table class="table">
                <thead>
                  <tr>
                    <td scope="col">Phone Line <span class="icons-table"></span> </td>
                    <td scope="col">Carrier <span class="icons-table"></span> </td>
                    <td scope="col">Associated To <span class="icons-table"></span> </td>
                    <td scope="col">Associated To Device <span class="icons-table"> </span></td>
                    <td scope="col">End Contract Date <span class="icons-table"></span> </td>
                    <td scope="col">Upgrade Eligibility <span class="icons-table"></span> </td>
                    <td scope="col">Line Estatus <span class="icons-table"></span> </td>
                    <td scope="col"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="color_phone_line">995-438-3430</td>
                    <td>AT&T</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>Out of Contract</td>
                    <td>07/01/2020</td>
                    <td><span class="label active">Active</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">995-438-3430</td>
                    <td>T-Mobile</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>13/Oct/2020</td>
                    <td>08/14/2020</td>
                    <td><span class="label suspended">SUSPENDED</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">761-116-3397</td>
                    <td>Verizon</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>27/Feb/2020</td>
                    <td>11/06/2020</td>
                    <td><span class="label deactivated">DEACTIVATED</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">233-568-7221</td>
                    <td>AT&T</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>16 Sep 2020</td>
                    <td>08/21/2020</td>
                    <td><span class="label forwarding">FORWARDING CALL</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">947-675-4413</td>
                    <td>T-Mobile</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>10 Dec 2020</td>
                    <td>07/05/2020</td>
                    <td><span class="label pending_call">PENDING CALL FWD.</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">322-883-6335</td>
                    <td>Sprint</td>
                    <td class="person">Lucinda Sanchez</td>
                    <td>Free</td>
                    <td>12 Jun 2020</td>
                    <td>05/15/2020</td>
                    <td><span class="label pending_susp">PENDING SUSP.</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">001-802-4445</td>
                    <td>AT&T</td>
                    <td class="person">George Valdez</td>
                    <td>Google Pixel 2</td>
                    <td>11 Jul 2020</td>
                    <td>07/16/2020</td>
                    <td><span class="label pending_deact">PENDING DEACT.</span></td>
                  </tr>
                  <tr>
                    <td class="color_phone_line">752-759-3547</td>
                    <td>T-Mobile</td>
                    <td class="person">Roxie Rodgers</td>
                    <td>Galaxy A01</td>
                    <td>17 Jun 2020</td>
                    <td>04/15/2020</td>
                    <td><span class="label pemnding_activation">PENDING ACTIVATION</span></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex number-pages">
            <div>
                <span class="pages">Displaying 1 - 25 of 50 <span class="split"> |</span> <span class="number-diferent">25</span> 50 <span class="intermediate-number">100</span> result per page </span>
            </div>
            <div>
                <span class="prev"> <span> < </span> Prev <span class="number-diferent-right">1</span> <span class="number-black"> 2 </span> <span class="text-black"> Next </span> <span class="icon-black"> > </span></span>
            </div>
        </div>
    </div>
</section>

<footer class="contac-us">
    <div class="container">
        <div class="d-flex text-footer">
            <div>
                <p>Contact Us | Research Participarion | Corporate Website | privacity Notice | Terms of Use</p>
            </div>
            <div class="d-flex icons">
                <i class="fa-brands fa-facebook-f facebook"></i>
                <i class="fa-brands fa-twitter twitter"></i>
                <i class="fa-brands fa-linkedin-in linkedin"></i>
                <i class="fa-brands fa-youtube youtube"></i>
            </div>
        </div>
        <p class="copyriht">©Copyright 2018 Motus, LLC. All rights reserved</p>
    </div>
</footer>